@import "tailwindcss";


@layer utilities {
  .bg-gradient {
    background: linear-gradient(to right,#1E1E1E, #000E66 );

}
.customblue{
   background: linear-gradient(to right, #015CB5, #5ABAC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cardClass {
  @apply bg-white/10 backdrop-blur-lg border h-[459px] w-[370px] border-white/20 rounded-xl p-6 flex flex-col text-start text-white;
}


}


@layer components{
  .footer-container{
 @apply text-start flex flex-col text-white gap-2;
}

}


body {
  background: linear-gradient(to right,#1E1E1E, #000E66 );
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
