@import "tailwindcss";



@layer utilities {
  .bg-gradient {
    background: linear-gradient(to right,#1E1E1E, #000E66 );

}
.customblue{
   background: linear-gradient(to right, #015CB5, #5ABAC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cardClass {
  @apply  h-[430px] w-[370px] border-white/20 rounded-xl p-6 flex flex-col justify-center text-start text-white;
}


}


@layer components{
  .footer-container{
 @apply text-start flex flex-col text-white gap-4;
}

}


body {
  background: linear-gradient(to right,#1E1E1E, #000E66 );
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

html {
  overflow-x: hidden;
}
.font-inter-thin {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}

.font-inter-extra-light {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.font-inter-light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.font-inter-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.font-inter-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.font-inter-semi-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.font-inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.font-inter-extra-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.font-inter-black {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

